.text-center {
    text-align: center;
}

.mx-auto {
    margin: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.or {
    background-color: orange;
    color: rgb(0, 0, 0);
}